/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    max-width: 800px;
    width: 100%;
    margin:20px auto;
    
}

header{
    display: flex;
    justify-content: left;
    margin: 3rem auto;

    
}

header nav{
    display: flex;
    order: 1;
    width: 80%;
    justify-content: space-around;
    
}

header nav a:link{
    text-decoration:none;
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    font-size:1.4rem;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 24px;
    border-bottom: 1px dashed black;
    padding-top:3rem;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
    font-size: 1.55rem;  
}
.top-content:nth-child(2){
    margin-right:-7%;
    margin-left:3%;
}

.billboard{
    width:100%;
}
.middle-content {
    margin-bottom: 10px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 4%;
    margin-bottom: 0;
}
.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    margin-left:3%;
    }

.box {
    width: 12.5%;
    min-height: 100px;
    height: auto;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.4rem;;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    font-size:1.6rem;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
    width:67%;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media(max-width:1000px){
    .box:nth-child(2){
        background:forestgreen;
    }
    .box:nth-child(4){ 
        background:darkorchid;
    }
    .box:nth-child(6){ 
        background:hotpink;
    }
    .box:nth-child(8){ 
        background:indigo;
    }
    .box:nth-child(10){ 
        background:lawngreen;
    }
    .box {
        width: 12.5%;
    }
}

@media(max-width:768px){
    .container{
        margin: 2rem 0 0 0;
    }
    header{
        flex-direction:column;
        margin: 3rem auto;
    }
    header .logo{
        width:20.4%;
        align-self:center;
        margin-bottom:3rem;

    }  
    header nav{
        width:100%;
        justify-content:space-between;
        margin: 0 2%;
    }
    .box:nth-child(1){
        background:teal;
    }
    .box:nth-child(3){
        background: gold;
    }
    .box:nth-child(5){
        background:cadetblue;
    }
    .box:nth-child(7){
        background:coral;
    }
    .box:nth-child(9){
        background:crimson;
    }
    .box {
        width: 13%;
    }
}

@media(max-width:400px){
    .container{
        width:100%;
        margin:.5rem;
    }
    header{
        flex-direction:column;
        justify-content: center;
        margin:0;
        
      
    }
    header nav{
        flex-direction:column;
        width: 100%;
        display:flex;
        margin:0;
        padding:0;
        align-items:center;
    }
    header nav a:link{
        width:100%;
        display:block;
        flex-direction: row;
        border-bottom: 1px solid gray;
        padding:15px 0;
        font-size:1.4rem;
        text-align: center;
    }
    
    header nav a:nth-child(1){
        border-top:1px solid gray;


    }
    header .logo{
        order: -1;
        margin: 20px 0;
        align-self:center;
        width:39.25%;
        padding-top: 12px;
        padding-left: 8px;


    }
    .top-content .text-container {
        display:block; 
        width:100%
    }
    .bottom-content {
        padding-right: 4%;
        display:block;
        width:100%
    }
    .bottom-content .text-container {
        margin-bottom:10px;
    }
    
    .boxes{
        flex-direction:row-reverse;
    }
    .box{
        max-width: 10rem;
        max-height: 10rem;
        width: 25%;
        display: flex;
        margin: 5px 15px 5% 0%;
    }    
    .box:nth-child(10){
        display:none;
    }
    footer nav {
        width:100%;
        display:flex;
        justify-content: space-around;
    }
}